<div class="footer__content">
    <div class="footer__logo">
        <img src="img/syd-logo.jpg" alt="Logo de la tienda de lencería">
    </div>
    <div class="footer__links">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Catálogo</a></li>
            <li><a href="#">Acerca de Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
    <div class="footer__social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</div>
<div class="footer__info">
    <p>Dirección: Urb. Estibadores Mz.G Lt.36 Vipol-Callao</p>
    <p>Teléfono: 956916201</p>
    <p>Email: jaziroliveram@gmail.com</p>
</div>