<nav class="navbar">
    <div class="navbar1">
        <div class="logo-content">
            <a href="#">
                <img src="img/logoo.png" alt="Logo de Secrets & Details"/>
            </a>
        </div>
        <div class="navbar-der">
            <ul class="navbar__links">
                <li class="navbar__link"><a href="ProductController?action=ListMin">Inicio</a></li>
                <li class="navbar__link"><a href="about_us.jsp">Nosotros</a></li>
                <li class="navbar__link"><a href="ProductController?action=List">Catálogo</a></li>
                <li class="navbar__link"><a href="contact_us.jsp">Contacto</a></li>
            </ul>
            <button class="navbar__toggler" type="button" title="navbar__toggler-btn">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </button>
        </div>
        <div class="top__left">
            <ul class="sm-content">
                <li class="sm sm-instagram"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="sm sm-facebook"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="sm sm-youtube"><a href="$"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="abc">Envios gratis a partir de compras de S/ 150</div>
</nav>
