:root {
    --navbarHeight: 65px;
    --sidebarWidth: 45vw;
    --primary: #080808;
    --secondary: #ad6a83;
}

ul {
    padding: 0;
    margin: 0;
}


.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.7rem;
}
.header__left{
    margin: 1rem;
}

.sm-content{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.sm-content .sm{
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
}
.sm-content i{
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: crimson;
    transition: 0.15s color;
}
.sm-content i:hover{
    color: brown;
}


.header__center{
    height: 100%;
    padding: 0 2rem;
}
.logo-content{
    width: 200px;
    height: 100%;
}
.logo-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.info-content .wsp-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: green;
}
.info-content .wsp-link i{
    font-size: 25px;
}


/* Navbar */
.navbar {
    position: relative;
    background: var(--primary);
    color: #fff;
    padding: 0 15px;
    width: 100%;
    height: var(--navbarHeight);
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__links {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    transition: 0.2s ease all, 0s ease background;
}
.navbar__link {
    height: var(--navbarHeight);
    text-transform: uppercase;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__link a {
    text-decoration: none;
    color: #fff;
}
.navbar__link:hover {
    background: var(--secondary);
    cursor: pointer;
}
.navbar__link:hover a {
    color: var(--primary);
}

.navbar.sticky {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    right: 0;
}

.navbar__toggler{
    opacity: 0;
}

@keyframes appears {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes appears2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* RESPONSIVE */
@media screen and (max-width: 750px) {
    .navbar .navbar__toggler {
        opacity: 1;
        position: absolute;
        top: calc(--navbarHeight/ 2);
        left: 20px;
        z-index: 99;
        transform: translateY(-50%);
        cursor: pointer;
        width: 40px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        outline: none;
        border: none;
        padding: 0;
        animation: appears 1s;
    }
    .navbar__toggler > * {
        width: 80%;
        height: 3px;
        background: #fff;
        margin: 3px 0;
        transition: 0.1s all;
    }
    /* for X transition */
    .navbar.collapsed .navbar__toggler .line1 {
        transform: translateY(9px) rotate(-45deg);
    }
    .navbar.collapsed .navbar__toggler .line2 {
        opacity: 0;
    }
    .navbar.collapsed .navbar__toggler .line3 {
        transform: translateY(-9px) rotate(45deg);
    }

    .navbar__links {
        position: fixed;
        background: #080808;
        z-index: 40;
        top: 0;
        left: -100%;
        flex-direction: column;
        width: var(--sidebarWidth);
        height: 100vh;
    }

    .navbar.collapsed .navbar__links {
        left: 0;
    }

    .navbar__link:first-child {
        margin-top: 80px;
    }
    .navbar.collapsed .navbar__link {
        width: 100%;
    }
    .navbar.collapsed .navbar__link a {
        color: #fff;
    }
    .navbar.collapsed .navbar__linki:hover a {
        color: var(--primary);
    }

    .navbar.sticky {
        position: fixed;
        z-index: 40;
        top: 0;
        left: 0;
        right: 0;
    }

    .navbar.collapsed .navbar__toggler{
        position: fixed;
        animation: appears2 1s;
    }
}