@import url('https://fonts.googleapis.com/css?family=Nunito|Lacquer');

/*SLIDER*/
.main-slider{
    height: 400px;
}
.main-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*CARDS*/
.prom__title{
    text-align: center;
}
.prom__content{
    padding: 2rem;
}

.prom__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.prom__card{
    width: 250px;
    height: 500px;
    box-shadow: 4px 4px 12px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 12px -4px rgba(0,0,0,0.75);
}
.prom__card img{
    width: 100%;
    height: 300px;
}

.card__title,
.card__price{
    text-align: center;
}
.card__price{
    font-weight: 300;
}
.card__colors{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.card__color{
    width: 20px;
    height: 20px;
    outline: 6px double gray;
    border-radius: 50%;
}


.color-blue{
    background-color: blue;
}
.color-red{
    background-color: red;
}
.color-black{
    background-color: black;
}
.color-pink{
    background-color: pink;
}
.color-orange{
    background-color: orange;
}
.color-yellow{
    background-color: yellow;
}
